<h1>This is the registration page</h1>

<form action="register" method="POST">
  <label for="register__username">name:
    <input id='register__username' type="text" name='username' required>
  </label>
  <label for="register__password">password:
    <input id='register__password' type="password" name='password' required>
  </label>
  <label for="register__email">email:
    <input id='register__email' type="email" name='email' required>
  </label>
  <label for="register__image">image:
    <input id='register__image' type="text" name='image' required>
  </label>
  <label for="register__location">location:
    <select name="location" id="register-location" required>
    <option value="">--Please select borough--</option>
    <option value="">Robersham</option>
    <option value="">Meredale</option>
    <option value="">Mondeor</option>
    <option value="">Winchester</option>
    <option value="">Ormonde</option>
    <option value="">Oakdene</option>
    <option value="">Glenvista</option>
    <option value="">Kibblerpar</option>
    <option value="">Naturena</option>
    <option value="">Rosebank</option>
    <option value="">Noorwood</option>
    <option value="">Cresta</option>
    <option value="">Randburg</option>
    <option value="">Westcliff</option>
    <option value="">Parktown</option>
    <option value="">Kesington</option>
    <option value="">City Of Johannesburg</option>
  </select>
  </label>
  <button>Register</button>
</form>